<div>
    <h2>Comentarios</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="comentarios.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Comentarios
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="autor"><span>Autor</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="url"><span>Url</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="texto"><span>Texto</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="rate"><span>Rate</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="local.id"><span>Local</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="comentarios in vm.comentarios track by comentarios.id">
                    <td><a ui-sref="comentarios-detail({id:comentarios.id})">{{comentarios.id}}</a></td>
                    <td>{{comentarios.autor}}</td>
                    <td>{{comentarios.url}}</td>
                    <td>{{comentarios.texto}}</td>
                    <td>{{comentarios.rate}}</td>
                    <td>
                        <a ui-sref="local-detail({id:comentarios.local.id})">{{comentarios.local.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="comentarios-detail({id:comentarios.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="comentarios.edit({id:comentarios.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="comentarios.delete({id:comentarios.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
