
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myComentariosLabel">Create or edit a Comentarios</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.comentarios.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.comentarios.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_autor">Autor</label>
            <input type="text" class="form-control" name="autor" id="field_autor"
                    ng-model="vm.comentarios.autor"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_url">Url</label>
            <input type="text" class="form-control" name="url" id="field_url"
                    ng-model="vm.comentarios.url"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_texto">Texto</label>
                <textarea class="form-control" name="texto" id="field_texto"
                    ng-model="vm.comentarios.texto"  ></textarea>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_rate">Rate</label>
            <input type="number" class="form-control" name="rate" id="field_rate"
                    ng-model="vm.comentarios.rate"
                     />
        </div>

        <div class="form-group">
            <label for="field_local">Local</label>
            <select class="form-control" id="field_local" name="local" ng-model="vm.comentarios.local" ng-options="local as local.id for local in vm.locals track by local.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
